.textFieldForInput{
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
}
  .table-view{
      /*-fx-background-color: transparent;*/
  }
  .table-view:focused{
      /*-fx-background-color: transparent;*/
  }

  .table-view .column-header {
      -fx-background-color: transparent;
  }
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}
 .table-view .table-column{
      -fx-alignment:center;
  }
  .table-view .table-cell{
      -fx-font-weight:bold;
      -fx-font-size:15px;           //the font size you asked in the comments below
      /* -fx-text-fill:orange; */

  }
.combo-box{
    -fx-font-size: 18;
    -fx-font-family: "Times New Roman";
}
/* .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}

//Style for each <odd> row of table view
.table-row-cell:odd{
    -fx-background-color: orange;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}
*/
 .table-row-cell:selected {
      /* -fx-border-color:transparent firebrick transparent firebrick  ;
       -fx-border-width:2.0; */
  }
 .table-row-cell:hover {
      -fx-background-color:orange;
  }
 .table-row-cell:focused {
      -fx-background-color:#35e45b;
  }
